.login-button {
    -fx-background-color: linear-gradient(#979cf5, #0c63ae);
    -fx-background-radius: 15;
    -fx-background-insets: 0;

    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;

    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0, 0, 0);
}

.login-button:hover {
    -fx-text-fill: #5053b7;
    -fx-background-color: white;
    -fx-pref-width: 113px;
    -fx-pref-height: 41px;
    -fx-translate-x: -2px;
}

.login-button:pressed {
    -fx-background-color: linear-gradient(#a9b4e3, #8093cb);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0, 0, 0);
}